
<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="../club_profile_members.css">
  </head>
  <body>
    <div class="line"></div>
    <div style="display:flex; flex-direction: row; flex-wrap: wrap;" class="header">
      <div class="name">VIT Verse</div>
      <div onclick="location.href='/codechef/events';" class="features1">Events</div>
      <div onclick="location.href='/codechef/announcements';" class="features2">Announcements</div>
      <div onclick="location.href='/codechef/members';" class="features3">Members</div></a>
      <div onclick="location.href='/codechef/login';" class="features4">Login</div>
    </div>
    <div class="list" style="display: flex;flex-direction: row;">
        <img class="member1" src="../member.png">
        <div class="mname1">Vaibhav Pathak</div>
        <div class="detail1">Vaibhav is currently a UI/UX Designer at CodeChef-VIT.</div>
        <img class="member2" src="../member.png">
        <div class="mname2">Vaibhav Pathak</div>
        <div class="detail2">Vaibhav is currently a UI/UX Designer at CodeChef-VIT.</div>
    </div>
  </body>
</html>