
<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="../events.css">
  </head>
  <body>
    <img class="club-logo" src="../Codechef.png">

    <div class="line"></div>
    <div style="display:flex; flex-direction: row; flex-wrap: wrap;" class="header">
      
      <div class="name"></div>
      <div onclick="location.href='/codechef/events';" class="features1">Events</div>
      <div onclick="location.href='/codechef/announcements';" class="features2">Announcements</div>
      <div onclick="location.href='/codechef/members';" class="features3">Members</div></a>
      <div onclick="location.href='/codechef/login';" class="features4">Login</div>
    </div>
    <div class="list" style="display: flex;flex-direction: row;">
        <div class="mname1">DevSoc'23</div>
        <div class="detail1">DEVSOC is CodeChef-VIT's annual flagship event hoping to empower young minds by bringing enthusiastic technocrats and thinkers under one roof.</div>
        <img class="event1" src="../devsoc-logo.png">
        <div class="mname2">DevSoc'23</div>
        <div class="detail2">DEVSOC is CodeChef-VIT's annual flagship event hoping to empower young minds by bringing enthusiastic technocrats and thinkers under one roof.</div>
        <img class="event2" src="../devsoc-logo.png">
        <div class="mname3">DevSoc'23</div>
        <div class="detail3">DEVSOC is CodeChef-VIT's annual flagship event hoping to empower young minds by bringing enthusiastic technocrats and thinkers under one roof.</div>
        <img class="event3" src="../devsoc-logo.png">
        <div class="mname4">DevSoc'23</div>
        <div class="detail4">DEVSOC is CodeChef-VIT's annual flagship event hoping to empower young minds by bringing enthusiastic technocrats and thinkers under one roof.</div>
        <img class="event4" src="../devsoc-logo.png">
    </div>
  </body>
</html>