<!DOCTYPE html>
<html>
<head>
  <title>VIT Verse</title>
  <link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>
  <header>
    <h1>VIT Verse</h1>
  </header>

  <main>
    <h2>select your club/chapter!</h2>
    <a href="/codechef/events">CodeChef</a>
  </main>
</body>
</html>
