html, body{
    position:relative;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    overflow: hidden;
    background-color: #090909;
}
.background{
position: absolute;
width: 20.625%;
height: 100%;
background: rgba(86, 86, 86, 0.08);
opacity: 0.6;
border: 2px solid #090909;
filter: blur(7.5px);
}
.name{
position: absolute;
width: 83.9%;
height: 6.39%;
left: 2.73%;
top: 6.86%;
font-family: 'Aspekta Variable';
font-style: normal;
font-weight: 602;
font-size: 32px;
line-height: 6.39%;
color: #D1D1D1;
font-stretch: 0;
}
.good{
position: absolute;
width: 27.26%;
height: 6.39%;
left: 22.73%;
top: 12.5%;
font-family: 'Aspekta Variable';
font-style: normal;
font-weight: 602;
font-size: 32px;
line-height: 6.39%;
color: #ACACAC;
font-stretch: 0;
}
.menu{
position: absolute;
width: 14.6%;
height: auto;
left: 2.73%;
top: 27.5%;
}
.items{
position: absolute;
width:97.86%;
height:28px;
left:0%;
}
.items#dash{
    top:0px;
    padding-left: 10px;
}
.items#atask{
    top:80px;
    padding-left: 10px;
}
.items#taskpro{
    top:160px;
    padding-left: 10px;
}
.items#edit{
    top:240px;
    padding-left: 10px;
}
.items#member{
    top:320px;
    padding-left: 10px;
} 
.icon{
position:absolute;
left:0%;
}
.list{
position:absolute;
width:82.51%;
height:81.25%;
left:19.125%;
font-family: 'Aspekta Variable';
font-style: normal;
font-weight: 449;
font-size: 18px;
line-height: 81.25%;
color: #ACACAC;
font-stretch: 0;
padding-top:4.125%
}
.add{
    position: absolute;
    width: 27.26%;
    height: 6.39%;
    left: 22.73%;
    top: 21.5%;
    font-family: 'Aspekta Variable';
    font-style: normal;
    font-weight: 602;
    font-size: 32px;
    line-height: 6.39%;
    color: #ffffff;
    font-stretch: 0;
    text-decoration: underline;
}
.sname{
    position: absolute;
    width: 15%;
    height: auto;
    left: 34.73%;
    top: 31.9%;
    font-family: 'Aspekta Variable';
font-style: normal;
font-weight: 531;
font-size: 18px;
line-height: auto;
color: #FFFFFF;
font-stretch: 0;
}
.fname{
    position: absolute;
    width: 15%;
    height: auto;
    left: 22.73%;
    top: 31.9%;
    font-family: 'Aspekta Variable';
font-style: normal;
font-weight: 531;
font-size: 18px;
line-height: auto;
color: #FFFFFF;
font-stretch: 0;
}
.domain{
    position: absolute;
    width: 45%;
    height: auto;
    left: 22.73%;
    top: 49.25%;
    font-family: 'Aspekta Variable';
font-style: normal;
font-weight: 531;
font-size: 18px;
line-height: auto;
color: #FFFFFF;
font-stretch: 0;
}
.mentor{
    position: absolute;
    width: 45%;
    height: auto;
    left: 22.73%;
    top: 65.9%;
    font-family: 'Aspekta Variable';
    font-style: normal;
    font-weight: 531;
    font-size: 18px;
    line-height: auto;
    color: #FFFFFF;
    font-stretch: 0;
    padding-bottom: 2%;
    }
.access{
    position: absolute;
    width: 45%;
    height: auto;
    left: 70.3%;
    top: 49.25%;
    font-family: 'Aspekta Variable';
font-style: normal;
font-weight: 531;
font-size: 18px;
line-height: auto;
color: #FFFFFF;
font-stretch: 0;
}
.regno{
position: absolute;
width: 45%;
height: auto;
left: 70.3%;
top: 31.9%;
font-family: 'Aspekta Variable';
font-style: normal;
font-weight: 531;
font-size: 18px;
line-height: auto;
color: #FFFFFF;
font-stretch: 0;
padding-bottom: 2%;
}
.password{
    position: absolute;
    width: 45%;
    height: auto;
    left: 70.33%;
    top: 65.9%;
    font-family: 'Aspekta Variable';
font-style: normal;
font-weight: 531;
font-size: 18px;
line-height: auto;
color: #FFFFFF;
font-stretch: 0;
padding-bottom: 2%;
}
.addm{
    position: absolute;
    width: 27.26%;
    height: 6.39%;
    left: 22.73%;
    top: 85.5%;
}
.inp{
    padding-bottom: 2%;
    padding-left:0.7%;
}
input{
    font-family: 'Aspekta Variable';
    font-style: normal;
    font-weight: 531;
    font-size: 18px;
    line-height: 26px;
    letter-spacing: 0.02em;
    color: #ffffff;
    font-stretch: 0;
    padding-left: 2%;
    background: #262626;
    filter: blur(0.5px);
    opacity: 0.7;
    border-radius: 10px;
    border: 0px;
    }
input:focus::placeholder {
    color: transparent;
}
input[type=text]
{
    padding-left: 2%;
    font-family: 'Aspekta Variable';
    font-style: normal;
    font-weight: 531;
    font-size: 17px;
    line-height: auto;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.863);
    font-stretch: 0;
}
.inpu{
        position: absolute;
        width:40%;
        height:51px;
}
.in{
    position: absolute;
    width:70%;
    height:51px;
}
.i{
    padding-bottom:5%;
    padding-left:2%;
}
.input1{
    padding-bottom: 2%;
    padding-left:0.7%;
}
.input2{
    position: absolute;
    width:70%;
    height:51px;
}
#add{
    width:200px;
    height:60px;
    color: white;
    background-color: black;
    opacity: 100%;
}
#add:hover
{
    cursor: pointer;
}