.td{
    position: absolute;
    width: 45%;
    height: auto;
    left: 22.73%;
    top: 46.25%;
    font-family: 'Aspekta Variable';
    font-style: normal;
    font-weight: 531;
    font-size: 25px;
    line-height: auto;
    letter-spacing: 0.02em;
    color: #D1D1D1;
    font-stretch: 0;
}
.tt{
position: absolute;
width: 45%;
height: auto;
left: 22.73%;
top: 25.9%;
font-family: 'Aspekta Variable';
font-style: normal;
font-weight: 531;
font-size: 25px;
line-height: auto;
letter-spacing: 0.02em;
color: #D1D1D1;
font-stretch: 0;
}
.at{
    position: absolute;
    width: 20%;
    height: auto;
    left: 69%;
    top: 25.9%;
    font-family: 'Aspekta Variable';
    font-style: normal;
    font-weight: 531;
    font-size: 25px;
    line-height: auto;
    letter-spacing: 0.02em;
    color: #D1D1D1;
    font-stretch: 0;
}
.dd{
    position: absolute;
    width: 45%;
    height: auto;
    left: 69%;
    top: 46.25%;
    font-family: 'Aspekta Variable';
    font-style: normal;
    font-weight: 531;
    font-size: 25px;
    line-height: auto;
    letter-spacing: 0.02em;
    color: #D1D1D1;
    font-stretch: 0;
}
.up{
    position: absolute;
    width: 19.375%;
    height: 13.33%;
    left: 68.9%;
    top: 68.4%;
}
.title{
    width:70%;
    bottom: 0%;
    height: 61px;
}
.description{
    width:70%;
    bottom: 0%;
    height:215px;
}
.assign{
    width:100%;
    bottom:0%;
    height:61px;
}
.deadline{
    width:50%;
    bottom:0%;
    height:61px;
}
input{
font-family: 'Aspekta Variable';
font-style: normal;
font-weight: 531;
font-size: 18px;
line-height: 26px;
letter-spacing: 0.02em;
color: #ACACAC;
font-stretch: 0;
padding-left: 2%;
background: #262626;
filter: blur(0.5px);
border-radius: 7px;
border: 0px;
}
textarea{
font-family: 'Aspekta Variable';
font-style: normal;
font-weight: 531;
font-size: 18px;
line-height: 26px;
letter-spacing: 0.02em;
color: #fff7f7;
font-stretch: 0;
padding-left: 2%;
padding-top: 2%;
background: #262626;
filter: blur(0.5px);
border-radius: 7px;
border: 0px;
}
.inp{
padding-bottom: 4.8%;
padding-left: 4.8%;
font-family: 'Aspekta Variable';
font-style: normal;
font-weight: 531;
font-size: 25px;
line-height: auto;
letter-spacing: 0.02em;
color: #D1D1D1;
font-stretch: 0;
}
.in{
        padding-bottom: 2%;
        padding-left: 1%;
        font-family: 'Aspekta Variable';
        font-style: normal;
        font-weight: 531;
        font-size: 25px;
        line-height: auto;
        letter-spacing: 0.02em;
        color: #D1D1D1;
        font-stretch: 0;
}
input:focus::placeholder {
    color: transparent;
}
input[type=text]
{
    padding-left: 2%;
    font-family: 'Aspekta Variable';
    font-style: normal;
    font-weight: 531;
    font-size: 17px;
    line-height: auto;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.863);
    font-stretch: 0;
}
input[type=file]{
    padding-left: 2%;
    font-family: 'Aspekta Variable';
    font-style: normal;
    font-weight: 531;
    font-size: 17px;
    line-height: auto;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.863);
    font-stretch: 0;
    background-color: #29292900;
}
input[type=file]::file-selector-button {
    margin-right: 20px;
    border: none;
    background: #00000082;
    padding: 10px 20px;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
}
  input[type=file]::file-selector-button:hover {
    background: #0d45a5;
}
#add{
    width:35%;
    height:40px;
    color: white;
    background-color :#DB8745;
    opacity: 1;
    border-radius: 10px;
}
#add:hover
{
    cursor: pointer;
}
.add{
    position: absolute;
    width: 27.26%;
    height: 6.39%;
    left: 82.73%;
    top: 87.5%;
}

